/* Nav bar */
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8 0 8 0;
}

/* grids & containers */
main {
  max-width: 1440px;
}

.text-grid {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.grid-child {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  height: 40vh;
  padding: 8 0 8 0;
}

.gallery-img {
  height: 100%;
  width: auto;
}

.text-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .text-grid {
    flex-direction: column;
  }
}

/* Type styles */
.text-4xl {
  font-size: var(--text-4xl);
  font-family: var(--font-display);
  font-weight: var(--weight-medium);
  margin: 0px;
}

.text-3xl {
  font-size: var(--text-3xl);
  font-family: var(--font-display);
  font-weight: var(--weight-medium);
  margin: 0px;
}

.text-2xl {
  font-size: var(--text-2xl);
  font-family: var(--font-display);
  font-weight: var(--weight-medium);
  margin: 0px;
}

.text-xl {
  font-size: var(--text-xl);
  font-family: var(--font-display);
  font-weight: var(--weight-medium);
  margin: 0px;
}

.text-lg {
  font-size: var(--text-lg);
  font-family: var(--font-display);
  font-weight: var(--weight-medium);
  margin: 0px;
}

.text-md {
  font-size: var(--text-md);
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  margin: 0px;
}

.text-base {
  font-size: var(--text-base);
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  margin: 0px;
}

.text-sm {
  font-size: var(--text-sm);
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  margin: 0px;
}

.text-xs {
  font-size: var(--text-xs);
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  margin: 0px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.text-link {
  font-size: var(--text-base);
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  color: var(--color-text);
  text-decoration: underline;
  transition: filter var(--duration-slow) var(--ease-inout);
}

.text-link:hover {
    filter: blur(2px);
}

.secondary-text-link {
  font-size: var(--text-sm);
  font-family: var(--font-body);
  font-weight: var(--weight-regular);
  margin: 0px;
  color: var(--color-secondary-text);
  text-decoration: none;
}

.secondary-text-link:hover {
    filter: blur(2px);
}
