<nav class="nav">
  <a class="nav__name" href="index.html">Talia Bowles</a>
  <div class="nav__links">
    <a class="nav__link" href="index.html">About</a>
    <a class="nav__link" href="https://www.linkedin.com/in/taliabowles/" target="_blank" rel="noopener">LinkedIn</a>
    <a class="nav__link" href="resume.html">Resume</a>
  </div>
  <div class="nav__section">
    <span class="nav__label">Design</span>
    <div class="nav__links">
      <a class="nav__link" href="product.html">Product</a>
      <a class="nav__link" href="graphic.html">Graphic</a>
    </div>
  </div>
</nav>
